{% extends 'index.html' %}

{% block title %}
    {{source}}
{% endblock %}

{% block insidehead %}

{% endblock %}

{% block content%}

<form class = "form-reg" method="GET" action="{% url 'booking' 'f' %}">
    {% csrf_token %}

    <label> Choose your seat </label>
    <input type='text' name='seat-no' id='seat-no' list='available-seat' placeholder='book your seat' >
    <datalist id = 'available-seat'>
        {% for seat in seats %}
            <option value = {{seat}} >
        {% endfor %}
    </datalist> <br> <br>


    <div> <a href = "{% url  'booking' 'f' %}">
        <button type="submit" class="btn btn-primary"> Booking </button>
    </a>
    </div>


</form>
    

{% endblock %}